 <!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<!-- debes definir el nombre del servlet que procesara el formulario-->

<body class="blue">
        <nav class="blue darken-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"> &nbsp;EJECUTIVO</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="buscar_cliente.html">Buscar</a></li>
        <li><a href="crear_cuenta.html">Crear</a></li>
        <li><a href="depositar.html">Depositar</a></li>
        <li> <a class="dropdown-item" onclick="logout()">Cerrar sesion</a></li>
      </ul>
    </div>
  </nav>
          

    <div class="container">
        <div class="card-panel">
            <h3 class="center">
                Depositar
            </h3>
            <form th:action="@{depositar}" method="POST">
                
                <div class="input-field">
                    <input id="numeroCuenta" type="text" name="numeroCuenta">
                    <label for="numeroCuenta">Numero Cuenta</label>
                </div>
                <div class="input-field">
                    <input id="monto" type="text" name="monto">
                    <label for="monto">Monto</label>
                </div>
                 
                <button class="btn blue">
                    depositar
                </button>
            </form>
        </div>

        <div class="card-panel" th:if="${booleanerror}">
          <h3 th:text="${error}"></h3>
        </div>

        <div class="card-panel" th:if="${mostrar}">
          <h3>Se han depositado <span th:text="${monto_deposito}"></span> pesos</h3>
          <h4>Detalle:</h4>
          <table>
              <tr>
                  <td>Numero cuenta</td>
                  <td>Propietario</td>
                  <td>Saldo previo</td>
                  <td>Nuevo Saldo</td>
              </tr>
              <tr>
                <td><p th:text="${numero_cuenta}" /></td>
                  <td><p th:text="${propietario}" /></td>
                  <td><p th:text="${saldo_previo}" /></td>
                  <td><p th:text="${nuevo_saldo}" /></td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
<!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script>
            function logout(){
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Desconectado exitosamente',
                    showConfirmButton: false,
                    timer: 1500
                });
                window.setTimeout(function() {
                    window.location.href = '/logout';
                }, 1500);

            }
        </script>
</body>
 </html>

